{% extends 'base.html' %}
{% block contents %}
{% load static %}
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">
            <h1><a href="{% url 'main:index' %}">운동 & 음식 블로그</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
            <h2>I'm a passionate <span>graphic designer</span> from New York</h2>
            <nav id="navbar" class="navbar">
                <ul>
                <li><a class="nav-link active" href="#header">Home</a></li>
                <li><a class="nav-link" href="{% url 'accounts:user_login' %}">Login</a></li>
                <li><a class="nav-link" href="{% url 'blog:blog_list' %}">Blog</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
{% endblock %}