{% extends 'base.html' %}
{% block contents %}
{% load static %}
<main id="main">
    <!-- ======= blog Detail ======= -->
    <div id="exercises-details" class="exercises-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="exercises-title">{{ post.title }}</h2>
                    <div class="exercises-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <img src="{{ post.thumbnail_image.url }}" alt="{{ post.title }}">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-4 exercises-info">
                    <h3>Project information</h3>
                    <p>
                        {{ post.content }}
                    </p>
                    <ul>
                        <li><strong>Category</strong> : {{ post.tag }} </li>
                        <li><strong>Client</strong> : </li>
                        <li><strong>작성시간</strong> : {{ post.created_at }}</li>
                    </ul>
                    <!-- 로그인을 했고, 내가 이 글에 글쓴이라고 한다면 삭제와 업데이트 버튼 노출 -->
                    {% if user.is_authenticated and user == post.author %}
                        <div class="row">
                            <a class="text-center button-box col-md-2 form-group" href="{% url 'blog:blog_update' post.pk %}">수정</a>
                            <form class="text-center col-md-2 form-group" action="{% url 'blog:blog_delete' post.pk%}" method="post">
                                {% csrf_token %}
                                <input class="button-box" type="submit" value="삭제">
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- 댓글 작성 -->
            <p class="font-bold text-xl">댓글 {{ post.comments.count }}개</p>
            <form action="" method="post" class="flex p-4 space-y-4 space-x-2 bg-white shadow-md rounded-lg">
                {% csrf_token %}
                <div class="flex w-20 items-center justify-center">
                    <label for="id_message" class="text-sm font-medium text-gray-700 text-center">댓글 작성:</label>
                </div>
                
                <textarea name="message" cols="40" required="" id="id_message" class="mt-1 block w-3/4 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
                <input type="submit" value="작성" class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            </form>
            
            {% for comment in post.comments.all %}
                <div class="border border-gray-200 p-4 rounded-lg">
                    <p><span class="font-bold">{{ comment.author }}</span> · {{ comment.created_at|timesince }} 전</p>
                    <p>{{ comment.message }}</p>
                    {% if user.is_authenticated and user == comment.author %}
                    <div class="flex gap-4">
                        <form class="" action="{% url 'blog:blog_comment_delete' comment.pk %}" method="post">
                            {% csrf_token %}
                            <input class="text-gray-500 hover:text-gray-800 text-sm" type="submit" value="삭제">
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}

        </div>

    </div><!-- End exercises Details -->
    
</main>
{% endblock %}