{% extends 'base.html' %}
{% block contents %}
{% load static %}
<!-- ======= Header ======= -->
<header id="header">
    <div class="container">
        <h2>당신의 <span>루틴은?</span></h2>
        <nav id="navbar" class="navbar">
            <ul>
            <li><a class="nav-link active" href="#header">Home</a></li>
            <li><a class="nav-link" href="{% url 'accounts:user_login' %}">User</a></li>
            <li><a class="nav-link scrollto" href="#exercises">Exercises</a></li>
            <li><a class="nav-link scrollto" href="#cook">Cook</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
<!-- ======= Exercises Section ======= -->
<section id="exercises" class="exercises scrollto">
    <div class="container">
    
        <div class="section-title">
            <h2>Exercises</h2>
            <p>Routine</p>
        </div>
    
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
            <ul id="exercises-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-Health">Health</li>
                <li data-filter=".filter-Climbing">Climbing</li>
                <li data-filter=".filter-Runing">Runing</li>
            </ul>
            </div>
        </div>

        <div class="row exercises-container">
            {% for post in posts %}
                <div class="col-lg-4 col-md-6 exercises-item filter-app">
                    <div class="exercises-wrap">
                        {% if post.thumbnail_image %}
                        <img src="{{ post.thumbnail_image.url }}" class="img-fluid" alt="">
                        {% endif %}
                        <div class="exercises-info">
                            <h4>{{ post.title }}</h4>
                            {% for tag in post.tags.all %}
                                <p>{{ post.tag }}</p>
                            {% endfor %}
                            <div class="exercises-links">
                                <a href="{{ post.thumbnail_image.url }}" data-gallery="exercisesGallery" class="exercises-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="{% url 'blog:blog_detail' pk=post.pk %}" data-gallery="exercisesDetailsGallery" data-glightbox="type: external" class="exercises-details-lightbox" title="blog Detail"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section><!-- End Exercises Section -->

<!-- ======= cook Section ======= -->
<section id="cook" class="cook scrollto">
    <div class="container">

        <div class="section-title">
            <h2>cook</h2>
            <p>My Works</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="cook-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">식단</li>
                    <li data-filter=".filter-card">레시피</li>
                    <li data-filter=".filter-web">맛집</li>
                </ul>
            </div>
        </div>

        <div class="row cook-container">
            {% for post in posts %}
                <div class="col-lg-4 col-md-6 exercises-item filter-app">
                    <div class="exercises-wrap">
                        {% if post.thumbnail_image %}
                        <img src="{{ post.thumbnail_image.url }}" class="img-fluid" alt="">
                        {% endif %}
                        <div class="exercises-info">
                            <h4>{{ post.title }}</h4>
                            {% for tag in post.tags.all %}
                                <p>{{ post.tag }}</p>
                            {% endfor %}
                            <div class="exercises-links">
                                <a href="{{ post.thumbnail_image.url }}" data-gallery="exercisesGallery" class="exercises-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="{% url 'blog:blog_detail' pk=post.pk %}" data-gallery="exercisesDetailsGallery" data-glightbox="type: external" class="exercises-details-lightbox" title="blog Detail"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section><!-- End cook Section -->
{% endblock %}